name: Pull Request Check

on:
    pull_request:
        branches: [main, develop, release]
    workflow_dispatch:

jobs:
    test-build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Lint code
              run: npm run lint

            - name: Run tests
              run: npm run test:coverage

            - name: Build project
              run: npm run build

            - name: Upload test coverage
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  name: test-coverage
                  path: coverage/
